<div class="about-container">
  <!-- education -->
  <div class="education is-size-5 has-background-dark box">
    <p class="subtitle is-size-3 has-text-warning">Education</p>
    <!--  -->
    <hr class="divider-separator" />
    <!--  -->
    <p class="is-size-4 has-text-primary">Monthly 1-on-1 Leadership Coaching</p>
    <p class="has-text-light">with Erin Sills / 2017</p>
    <!--  -->
    <hr class="divider-separator" />
    <!--  -->
    <p class="is-size-4 has-text-danger">Roy Group Leadership Program</p>
    <p class="has-text-light">by Roy Group / 2017</p>
    <!--  -->
    <hr class="divider-separator" />
    <!--  -->
    <p class="is-size-4 has-text-primary">
      Helping Clients Succeed Training Program
    </p>
    <p class="has-text-light">by Franklin Covey / 2017</p>
    <!--  -->
    <hr class="divider-separator" />
    <!--  -->
    <p class="is-size-4 has-text-danger">
      Emerging Business Leadership Program
    </p>
    <p class="has-text-light">by ViRTUS / 2016</p>
    <!--  -->
    <hr class="divider-separator" />
    <!--  -->
    <p class="is-size-4 has-text-primary">
      Bachelor of Commerce, Marketing & Entrepreneurship Specialization
    </p>
    <p class="has-text-light">
      at University of Victoria, Victoria, Canada / 2008-2012
    </p>
    <!--  -->
  </div>
  <!-- education -->

  <!-- experience -->
  <div class="experience is-size-5 has-background-dark box">
    <p class="subtitle is-size-3 has-text-warning">Experience</p>
    <!--  -->
    <hr class="divider-separator" />
    <!--  -->
    <p class="is-size-4 has-text-danger">Co-Founder at Shine</p>
    <p class="has-text-light">Shine Bootcamp / spring 2018 – present</p>
    <!--  -->
    <hr class="divider-separator" />
    <!--  -->
    <p class="is-size-4 has-text-primary">Director of Marketing</p>
    <p class="has-text-light">
      – from Individual Contributor to leading marketing teams at Unbounce /
      fall 2012 – spring 2018
    </p>
    <!--  -->
    <hr class="divider-separator" />
    <!--  -->
    <p class="is-size-4 has-text-danger">Digital Marketer</p>
    <p class="has-text-light">at Tennis BC (Contract Work) / 2013</p>
    <!--  -->
    <hr class="divider-separator" />
    <!--  -->
    <p class="is-size-4 has-text-primary">Traditional Marketer</p>
    <p class="has-text-light">at Imperial Oil / 2012</p>
    <!--  -->
    <hr class="divider-separator" />
    <!--  -->
    <p class="is-size-4 has-text-danger">Communications & Marketing</p>
    <p class="has-text-light">at Intact Insurance / 2011</p>
    <!--  -->
  </div>
  <!-- experience -->
</div>
