<!-- static -->
{% load static %}
<!-- static -->

<div class="slider-container">
  <div class="slider slide-animation">
    <img
      src="{% static 'img/slider-image-2.jpg' %}"
      class="d-block w-100"
      alt="..."
    />
  </div>
  <div class="slider slide-animation">
    <img
      src="{% static 'img/slider-image-1.jpg' %}"
      class="d-block w-100"
      alt="..."
    />
  </div>
  <div class="slider slide-animation">
    <img
      src="{% static 'img/slider-image-3.jpg' %}"
      class="d-block w-100"
      alt="..."
    />
  </div>
  <div class="slider slide-animation">
    <img
      src="{% static 'img/slider-image-4.jpg' %}"
      class="d-block w-100"
      alt="..."
    />
  </div>
</div>

<!-- js -->
<script src="{% static 'js/main.js' %}"></script>
<!-- js -->
